#####################################################################
#   Printer mainboard and toolhead CAN ID's
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1F0034001551303531313638-if00
restart_method: command

#####################################################################
#   File locations and on error handling
#####################################################################
[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

#####################################################################
#   Printer config and misc settings#
#####################################################################

[printer]
kinematics: cartesian
max_velocity: 1200  
max_accel: 25000
minimum_cruise_ratio: 0
max_z_velocity: 75          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 2000
square_corner_velocity: 15.0

[exclude_object]
[respond]
[display_status]
[pause_resume]

[gcode_arcs]
resolution: 0.1

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 15
max_freq: 200
dpi: 300

[idle_timeout]
timeout: 1800

#####################################################################
#   Includes
#####################################################################

## Configuration files
[include config/chamber_leds.cfg]
[include config/extruder.cfg]
[include config/fans.cfg]
[include config/homing.cfg]
[include config/input_shaper.cfg]
[include config/steppers.cfg]
[include config/temp_sensors.cfg]


## Macros
#[include macros/emu_macros.cfg]
[include macros/filament.cfg]
[include macros/movement_macros.cfg]
[include macros/mpc_material.cfg]
[include macros/print_start_end.cfg]
[include macros/printing_macros.cfg]
[include macros/squiggly_purge.cfg]


#####################################################################
#   Stepper current delayed gcode and notification infrastructure
#####################################################################

[delayed_gcode INITIALISATION_MACROS] 
initial_duration: 3
gcode:
  M84
  REFRESH_SPOOLMAN
  BACKUP_CONFIG
  M400

[gcode_shell_command backup_cfg]
command: sh /home/reapola/printer_data/config/scripts/backup_klipper.sh
timeout: 30.
verbose: True

[gcode_macro BACKUP_CONFIG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 35.490
#*# pid_ki = 1.621
#*# pid_kd = 194.305
#*#
#*# [beacon model default]
#*# model_coef = 1.5363313059557857,
#*# 	  1.9044408186013033,
#*# 	  0.8229416885108739,
#*# 	  0.352802161855735,
#*# 	  0.1856094604223294,
#*# 	  0.1519145948349354,
#*# 	  -0.08313359709245892,
#*# 	  -0.1302431808740864,
#*# 	  0.13869308067989833,
#*# 	  0.12318566325676768
#*# model_domain = 1.852007379603681e-07,1.932300974212546e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 58.209655
#*# model_offset = 0.00000
#*#
#*# [z_tilt_ng]
#*# z_offsets = -0.030870, 0.031123, -0.010360
#*# z_positions = 227.990998, -17.490615
#*# 	-70.311773, -17.066896
#*# 	76.943697, 222.272103
#*#
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 16.6512
#*# sensor_responsiveness = 0.0890693
#*# ambient_transfer = 0.0861806
#*# fan_ambient_transfer = 0.0861806, 0.100263, 0.106366, 0.11145, 0.110376, 0.116964, 0.116548
