##  Connected to Motor 8
##  Heater - HE0
##  Thermistor - T0
##LDO-36STH17-0354AH(G8T)
[extruder]
#control: mpc
heater_power: 35  
cooling_fan: fan
filament_diameter: 1.75
filament_density: 1.20
filament_heat_capacity: 1.8 
nozzle_diameter: 0.500
rotation_distance: 22.8667131
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
gear_ratio: 50:8 #for sherpa mini 8t motor
step_pin: PA10
dir_pin: PA9
enable_pin: !PA15
heater_pin: PF6
sensor_type: PT1000
sensor_pin: PB0
pullup_resistor: 2200
min_temp: 0
max_temp: 320
min_extrude_temp: 0
max_extrude_only_distance: 200
max_extrude_cross_section: 5
pressure_advance: 0.01
pressure_advance_smooth_time: 0.02

[tmc2209 extruder]
uart_pin: PD6
interpolate: false
run_current: 0.799
sense_resistor: 0.110
driver_TBL: 0
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8