[heater_fan hotend_fan]
pin: PA5
tachometer_pin: PC3
heater: extruder
heater_temp: 50.0
#kick_start_time: 0.5

[fan]
pin: PA6
kick_start_time: 0.500
#max_power: 1.0
#cycle_time: 0.2
#kick_start_time: 0.5

[controller_fan casefans]
pin: PA4
kick_start_time: 0.5
fan_speed: 0.6


[fan_generic nevermore]
pin: PA3
