[heater_bed]
##  SSR Pin - HE1
##  Thermistor - THB
heater_pin: PA0
sensor_type: Generic 3950
sensor_pin: PB1
pullup_resistor: 4700
max_power: 0.6
min_temp: 0
max_temp: 120
smooth_time: 2.0
#control = pid
#pid_kp = 52.779
#pid_ki = 1.419
#pid_kd = 490.844