[printer]
kinematics: cartesian
max_velocity: 1200  
max_accel: 25000
minimum_cruise_ratio: 0
max_z_velocity: 75          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 2000
square_corner_velocity: 15.0

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[respond]
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
#default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".

[pause_resume]

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[exclude_object]

[idle_timeout]
timeout: 1800

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.