#####################################################################
#   X/Y/Z Stepper Settings
#####################################################################

[stepper_x]
# connected to Motor 1
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: -9
position_endstop: 180
position_max: 180
homing_speed: 100
homing_retract_dist: 5
homing_retract_speed: 20
min_home_dist: 40
use_sensorless_homing: true

[stepper_x1]
# connected to Motor 2
step_pin: PE4
dir_pin: PE5
enable_pin: !PE3
# 0.9deg - 160 steps per mm - 1/16 microstepping
endstop_pin: tmc5160_stepper_x1:virtual_endstop
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400


[stepper_y]
# connected to Motor 3
step_pin: PE1
dir_pin: !PE0
enable_pin: !PE2
# 0.9deg - 160 steps per mm - 1/16 microstepping
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: 0
position_endstop: 0
position_max: 184.5
homing_speed: 100
homing_retract_dist: 5
homing_retract_speed: 20
min_home_dist: 40
use_sensorless_homing: true

[stepper_y1]
# connected to Motor 4
step_pin: PB8
dir_pin: PB9
enable_pin: !PB7
# 0.9deg - 160 steps per mm - 1/16 microstepping
endstop_pin: tmc5160_stepper_y1:virtual_endstop
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400

[tmc5160 stepper_x]
spi_speed: 500000
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
cs_pin: PG14
sense_resistor: 0.075
diag1_pin: ^!PF0  
home_current: 1
current_change_dwell_time: ${constants.dwell_time_xy}
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGT: ${constants.driver_sgt_xy}

[tmc5160 stepper_x1]
spi_speed: 500000
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
cs_pin: PG13
sense_resistor: 0.075
diag1_pin: ^!PF2   
home_current: 1
current_change_dwell_time: ${constants.dwell_time_xy}
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGT: ${constants.driver_sgt_xy}

[tmc5160 stepper_y]
spi_speed: 500000
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
cs_pin: PG12
sense_resistor: 0.075
diag1_pin: ^!PF4
home_current: 1
current_change_dwell_time: ${constants.dwell_time_xy}
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGT: ${constants.driver_sgt_xy}

[tmc5160 stepper_y1]
spi_speed: 500000
spi_software_sclk_pin: PE12
spi_software_mosi_pin: PE14
spi_software_miso_pin: PE13
cs_pin: PG11
sense_resistor: 0.075
diag1_pin: ^!PF3
home_current: 1
current_change_dwell_time: ${constants.dwell_time_xy}
interpolate: ${constants.interpolate_xy}
run_current: ${constants.run_current_xy}
driver_TBL: ${constants.driver_tbl_xy}
driver_TOFF: ${constants.driver_toff_xy}
driver_HSTRT: ${constants.driver_hsrt_xy}
driver_HEND: ${constants.driver_hend_xy}
driver_SGT: ${constants.driver_sgt_xy}