[gcode_macro M600]
gcode:
    PAUSE


[gcode_macro HEATSOAK]
gcode:
    # Parameters
    {% set t = params.T|default(110)|int %}
    {% set c = params.C|default(75)|int %}
    {% set move = params.MOVE|default(1)|int %}
    {% set wait = params.WAIT|default(0)|int %}

    SAVE_GCODE_STATE NAME=HEATSOAK
    UPDATE_DELAYED_GCODE ID=DELAYED_OFF DURATION=0    ; cancel off timer (if there is one)
    M140 S{t}                                         ; heat bed
    {% if move == 1 %}
        G90
        G0 Z{printer.toolhead.axis_maximum.z/2} F19500    
        G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F10000    
    {% endif %}
    {% if c > 30 and wait == 1 %}
        TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={c} ; wait for chamber temp
    {% endif %}
    RESTORE_GCODE_STATE NAME=HEATSOAK
######################## PAUSE/RESUME/CANCEL #########################

[gcode_macro PAUSE]
rename_existing = BASE_PAUSE
gcode:
	{% if printer['pause_resume'].is_paused|int == 0 %}
	SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}
	
	SAVE_GCODE_STATE NAME=PAUSE
	BASE_PAUSE
	G90
	PARK_NOZZLE
	SAVE_GCODE_STATE NAME=PAUSEPARK
	SET_IDLE_TIMEOUT TIMEOUT=43200
	{% endif %}

[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_etemp: 0
variable_m600: 0
gcode: 
	{% if printer['pause_resume'].is_paused|int == 1 %}
	SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
	{% if etemp > 0 %}
	M109 S{etemp|int}
	{% endif %}
	
	{% if m600 > 0 %}
	LOAD_FILAMENT
	PARK
	M83
	G1 E25 F300
	WIPE_NOZZLE
	SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=m600 VALUE=0
	{% endif %}
	
	RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=500
	G91
	M83
	RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=500
	BASE_RESUME
	{% endif %}

[gcode_macro CLEAR_PAUSE]
rename_existing: BASE_CLEAR_PAUSE
gcode:
    {% set status_led = printer["gcode_macro Enable_Features"].status_led %}

    BASE_CLEAR_PAUSE
    {% if status_led %}
        Update_Status_LED
    {% endif %}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode: 

# safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 10, th.axis_maximum.z]|min %}
    {% set bedtemp = printer.heater_bed.target %}
    
    _RESET_PRINTER_TO_KLIPPER_CONFIG

    TURN_OFF_HEATERS
    
    M400                                     ; wait for buffer to clear
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X90 Y150 F7200                       ; park nozzle at the rear for easy cleaning
    G90

    {% if z_safe < 100 %}                    ; check if current Z is below 100mm
      G1 Z100 F900                           ; raise Z up
    {% endif %}

    M400

    SET_LED LED=chamber_leds RED=0.4 GREEN=0.4 BLUE=0.4

    SET_GCODE_OFFSET Z=0
    BED_MESH_CLEAR
    M84                                      ; turn steppers off

    # Turn everything off
    M107                                     ; Part-cooling fan off
    OFF                                      ; Anything else that is on
    M400
    RESPOND MSG="JOB cancelled"              ; Displays info
    status_off
  
    # Reset internal state if needed
    CLEAR_PAUSE
    SDCARD_RESET_FILE

[gcode_macro PARK]
gcode:
  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("90")|float %}
  {% set y = params.Y|default("90")|float %}
  {% set f = params.F|default("15000")|int %} 
  
  {% if restore == 1 %}
    # Move to coordinates given by HH as we are restoring position
    G1 X{x} Y{y} F{f}
  
  {% elif ((printer.gcode_move.gcode_position.x - 35)|abs > 0.05)
        or ((printer.gcode_move.gcode_position.y - 308)|abs > 0.05) %}
    # Perform custom park move to the nozzle stop
    SAVE_GCODE_STATE NAME=SET_PARK_STATE
    
    {% if (printer.gcode_move.gcode_position.y > 250 ) and (printer.gcode_move.gcode_position.x > 10) %}
      G1 Y250 F{f} #Move infront of the end of the nozzle wiper
    {% endif %}

    G0 X-6 Y113 F30000
    RESTORE_GCODE_STATE NAME=SET_PARK_STATE
  {% endif %}


[gcode_macro UNPARK]
gcode:
  {% set f = params.F|default("15000")|int %} #
  # Unpark if on the park location
    SAVE_GCODE_STATE NAME=SET_UNPARK_STATE
    G1 X-6 F{f}   #Move to the start of the nozzle wiper       
    RESTORE_GCODE_STATE NAME=SET_UNPARK_STATE

[gcode_macro _LOW_TEMP_CHECK]
description: Check the nozzle is at temperature and heat it if needed
gcode: 
    {% set T = params.T|default(printer["gcode_macro _USER_VARIABLES_OTHER"].print_default_extruder_temp)|float %}

    {% if printer.extruder.target != 0 %}
        {% if printer.extruder.temperature < printer.extruder.target %}
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %}
        {% if printer.extruder.target < T %}
            M109 S{T}
        {% endif %}
    {% endif %}

# Replace M109 (Wait for Hotend Temperature) with TEMPERATURE_WAIT so we don't have to wait for PID to level off.
[gcode_macro M109] # Wait Hotend Temp
rename_existing: M109.1
gcode:
    #Parameters
    {% set s = params.S|float %}

    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-2} MAXIMUM={s+5}   # Wait for hotend temp (within n degrees)
    {% endif %}